<div class="reservation">
  <div>
    <% flash.each do |message_type, messages| %>
      <% messages.each do |message| %>
        <p class="alert alert-<%= message_type %>"><%= message %></p>
      <% end %>
    <% end %>
  </div>
  <h2>ご予約ページ</h2>
  <%= form_with model: [@reservation], local: true do |form| %>
    <%= form.hidden_field :date, value: @date %>
    <h3>選択中の映画</h3>
    <p><%= @schedule.movie.name %></p>
    <h3>選択中の日時</h3>
    <%= form.hidden_field :schedule_id, value: @schedule.id %>
    <p><%= @schedule.start_time.strftime("%Y/%m/%d %H:%M") + "~" + @schedule.end_time.strftime("%H:%M") %></p>
    <h3>選択中の座席</h3>
    <%= form.hidden_field :sheet_id, value: @sheet.id %>
    <p><%= @sheet.row.to_s + " - " + @sheet.column.to_s %></p>
    <h3>合計料金</h3>
    <p>1,900円</p>
    <h3>氏名</h3>
    <div>
      <%= form.text_field :name %>
    </div>
    <h3>メールアドレス</h3>
    <div>
      <%= form.text_field :email %>
    </div>
    <%= form.submit "予約を確定する" %>
  <% end %>
</div>