<%= render 'admin/header' %>
<%= render 'admin/side-nav' %>
<div class="admin-main">
  <h2 class="admin-main__title">上映スケジュールを編集</h2>
  <div class="admin-main__alert">
    <% if flash[:success] %>
      <p class="alert alert-success"><%= flash[:success] %></p>
    <% elsif flash[:danger] %>
      <p class="alert alert-danger"><%= flash[:danger] %></p>
    <% end %>
    <ul>
      <% @schedule.errors.each do |error| %>
        <li><%= error.message %></li>
      <% end %>
    </ul>
  </div>

  <div class="admin-main__form-container">
    <%= render "form", movie: @movie, schedule: @schedule %>
  </div>

  <button class="admin-main__button-container">
    <%= link_to "削除", admin_movie_schedule_path(@schedule), method: :delete, data: {
      confirm: "削除しても良いですか？"
    }, class: "admin-main__button" %>
  </button>
</div>